*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:rgb(65,65,65);
}

form{
    font-family:'Mukta', sans-serif;
}

.message-box{
  font-size: 16px;
  padding: 0.3rem 0;
  color:red;
}
.pd-x-28{
  padding-left: 28.5%;
}
.input-container{
  width: 100%;
  display: flex;
  padding: 0.4rem 0;
}
label{
    padding-top:0.8rem;
    font-size: 16px;
    display: block;
  color: var(--primary-color);

}
.input{
    padding: 0 0.5rem;
    border: 0;
    box-shadow: 0 1px 3px 0 rgb(43, 43, 43);
    font-size: 15px;
    width: 100%;
    color: var(--primary-color);
    border-radius: 5px;
}

.alert{
    background-color:rgb(177, 228, 249);
    padding: 0.5rem;
  font-size: 17px;
  color: var(--primary-color);
  border-radius: 5px;
  box-shadow: 0 3px 3px 0 rgb(4, 70, 96);

}

.btn{
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 500;
    border: 0;
    cursor: pointer;
    box-shadow: 0 3px 3px 0 grey;
    line-height: 1.5;
    display: inline-block;
    text-decoration: none;
    display: inline-block;
    margin-right: 0.2rem;
}

.btn-default {
    background: #36C1EF; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #36C1EF, #36C1EF); /* Chrome 10-25, Safari 5.1-6 */

    background: linear-gradient(to right, #36C1EF, #36C1EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-sec{
    background: #4d63df;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6275dd, #4d63df);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6275dd, #4d63df); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-danger{
    background: #a20000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #972929, #a20000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #972929, #a20000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1,h2,h3,h4,h5,h6{
    color: var(--primary-color);
}

.pb-10{
 padding-bottom: 10px;
}

.tbl-container{
    font-family:'Mukta', sans-serif;
    margin: 1.2rem 0;
}

.tbl-container table{
    width: 100%;
    /* border: 1px solid  rgb(180, 179, 179); */
    border-spacing: 0;
    border-collapse: collapse;
    color: var(--primary-color);
}

.tbl-container table th,td{
  font-size: 16px;
  padding: 0.8rem;
  text-align: left;
}

  
.tbl-container table tr:nth-child(even){
    background-color: rgb(240 240 240);
}


